body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #23272a;
}

#kanalistanbul {
  position: absolute;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px
}